sqlalchemy
psycopg2-binary

fastapi
uvicorn
click
h11
pymupdf

python-docx
pytesseract
Pillow
opencv-python-headless
python-multipart==0.0.9
passlib[bcrypt]
python-jose[cryptography]
bcrypt==4.1.3
starlette
anyio
annotated-doc
typing_extensions
resend
reportlab
numpy

